body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Arial, sans-serif;
  font-size: 12px; 
  background: white;
}

body, p, li { 
  color: black; 
}

p {
  font-size: 1em;
  line-height: 1.6em;
  font-weight: normal;
  margin: 0 0 1.6em 0; 
  padding: 0; 
}

/*
=Headings
*/
h1 {
    font-family: Arial, Helvetica, sans-serif; 
}

h1 {
  padding: 0; 
  line-height: 1em; 
  margin: 0 0 5px;
  letter-spacing: -2px;
  font-weight: bold;
}

.page h1 {
  font-size: 3.2em;
}

.error {
  color: #000000;
}

.success {
  color: #000000;
}

/*
=Links
*/

a, 
a:link {
  color: black; 
}

a:hover {
        color: #aa1224;
}


/*
=Boxes
*/

.box {
  position: relative;
  height: 213px;
  width: 213px;
  padding: 15px;
}

#header {
  position: relative;
  background-color: #88C2E5;
  height: 56px;
}

#logo {
  overflow: hidden;
}

#logo a {
  display: inline-block;
  vertical-align: baseline;
}

#logo .company_logo {
/*  margin-top: 0.3em;
  margin-bottom: 0.3em;
*/}

#logo a, #logo img {
  border: 0
}

#logo a {
  margin-left: 2em;
}

#title {
  padding-top: 10px;
  margin-left: 300px;
  text-align: left; 
}

.project {
  float:left;
  margin-top:15px;
  margin-left:10px;
  margin-bottom:15px;
  width:230px;
  height:210px;
}

.project_visit {
  float: right;
  font-size: smaller;  
}

.project_name {
  text-align: center;
/*  white-space: nowrap;*/
}

.project_name a {
  text-decoration: none;
  color: black;
}

.project_status {
  margin-top: 5px;
  margin-bottom: 34px;
  text-align: center;
/*  vertical-align: baseline;*/
  position: absolute;
  bottom: 0;
  width: 87%;
}

.project_published_at {
  text-align: center;
  font-size: 1em;  
}

.project_red_since {
  text-align: center;
  font-size: 0.9em;
  margin-left: -0.2;
  margin-right: -0.2;
}

.project_invalid {
  text-align: center;
  font-size: 1em;  
}

#top_right {
  position: absolute;
  top: 0.25em;
  right: 2em;
  margin-top: 0.5em;
  width: 20em;
}

#advertisement {
  font-size: smaller;
}

.status_image {
  border: 0;
}

.page .status_image {
}

.logo_page {
  padding-top: 100px;
  text-align: center;
}

#messages_right {
  float: right;
  overflow: hidden;
}

.message {  
}

.smaller_text {
  font-size: smaller;
}

#flash_error {
  color: red;
  font-weight: bold;
  background-color: lightgray;
  padding: 5px;
  margin: 5px;
}

#flash_notice {
  color: blue;
  font-weight: bold;
  background-color: lightgray;
  padding: 5px;
  margin: 5px;
}

#openid_url {
  background: url(/images/login-bg.gif) no-repeat #FFF 5px;
  padding-left: 25px;
}

/*
Form Errors
*/

.field_with_errors {
  padding: 2px;
  margin-bottom: 25px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 550px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

/* new stuff */
.page {
  font-size: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.projects {
  overflow: hidden;
  margin-left: 30em;
}

.project_map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 30em;
}

.project_map ul {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-align: stretch;  
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
}

.project_map li {
  display: block;
  -webkit-box-flex: 1;
  position: relative;
  overflow: hidden;
}

.project_map li:before {
  content: '';
  position: absolute;
  height: 50%;
  top: 0;
  left: 0em;
  right: 0em;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0.1)));
  -webkit-border-bottom-left-radius: 2em;  
  -webkit-border-bottom-right-radius: 2em;  
}

.project_map li + li {
  border-top: 1px solid black;
}

.project_map .green {
/*  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4aff59), to(#103713), color-stop(50%, #103713));*/
  background: #33aa33;
}

.project_map .red {
/*  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ff2a40), to(#450c12), color-stop(50%, #450c12));*/
  background: #aa3333;
}

.project_map .blue {
/*  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#85a5cc), to(#4a6491), color-stop(50%, #4a6491));*/
  background: #3333aa;
}

.project_map .project_dots {
  position: absolute;
  right: 1em;
  bottom: 0;
}

.project_map .project_title {
  margin: 0 1em;
}

.project_map .project_title span {
  position: absolute;
  top: 50%;
  margin-top: -0.5em;
  text-shadow: 0 -0.1em 0.1em rgba(0, 0, 0, 0.5);
  font-size: 2em;
  -webkit-transform: scale(100%,100%);
  white-space: nowrap;
  color: rgba(240, 240, 240, 0.65);
}

.project_map .sparkline {
  width: 100%;
}

.projects .red {
  color: red;
}

.projects .blackue {
  color: cyan;
}